@{
    ViewBag.Title = "RecommendLog";
}
@model MicroMall.Models.Users.ListPromotionLogs
<script src="/js/jquery.SuperSlide.2.1.1.js"></script>
<header data-am-widget="header" class="am-header am-header-default bgFFF border_b">
    <div class="am-header-left am-header-nav">
        <a href="/PersonalCentre/index" class="">
            <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%231c1c1c&quot;/&gt;&lt;/svg&gt;" alt="" />
        </a>
    </div>
    <h1 class="am-header-title">
        分销纪录
    </h1>
</header>
@*<div class="jifenSidea bgFFF am-container mb5">
    <span><b>@Model.presentExp</b>积分</span>
    <span class="user_dj am-fr">等级：@Model.grade</span>
</div>*@
<div class="userImgBox bgFFF mb5 am-container">
    <ul class="am-avg-sm-3 am-text-center fs14 am-padding-vertical-sm border_t" style="border-top:0;">
        <li>
            <a href="#">
                <img src="/images/jifen.png" alt="" width="30">
                <p class="y_num">@Model.presentExp</p>
                <p>总积分</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/yitixian.png" alt="" width="30">
                <p class="y_num">@Model.withdrawPoint</p>
                <p>已提现</p>
            </a>
        </li>
        <li>
            <a href="/Withdraw/Withdraw">
                <img src="/images/tixian.png" alt="" width="30">
                <p class="y_num">@Model.activatePoint</p>
                <p>积分提现</p>
            </a>
        </li>
    </ul>
</div>
<div class="jifenMax2">
    <div class="hd">
        <ul class="jifen_tab bgFFF fs15 am-text-center am-avg-sm-2">
            <li><a href="#">我的团队</a></li>
            <li class="on"><a href="#">分享记录</a></li>
        </ul>
    </div>
    <div class="bd">
        <ul>
            <div class="mytji bgFFF am-container am-padding-bottom-sm" style="margin-top:2px;">
                <h2 class="pdd_lr">总人数：@(Model.RecommendLogs != null ? Model.RecommendLogs.List.Count : 0)人　　直推人数：@(Model.RecommendLogs != null ? Model.RecommendLogs.List.Where(x => x.tj == 0).Count() : 0)人</h2>
             
                <div class="dianzhang_tab">
                    <div class="hd">
                        <ul class="dianzhang_nav am-avg-sm-4">
                            <li class="on">vip会员</li>
                            <li>店长</li>
                            <li>店主</li>
                            <li>普通会员</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            @if (Model.RecommendLogs != null && Model.RecommendLogs.List.Count > 0)
                            {
                                var vip = Model.RecommendLogs.List.Where(x => x.value == Ecard.Models.AccountGrade.Member.ToString()).ToList();
                                foreach (var item in vip)
                                {
                                   <li>@item.Name</li>
                                }
                            }
                            </ul>
                        <ul>
                            @if (Model.RecommendLogs != null && Model.RecommendLogs.List.Count > 0)
                            {
                                var shopowner = Model.RecommendLogs.List.Where(x => x.value == Ecard.Models.AccountGrade.Manager.ToString()).ToList();
                                foreach (var item in shopowner)
                                {
                                    <li>@item.Name</li>
                                }
                            }
                        </ul>
                        <ul>
                            @if (Model.RecommendLogs != null && Model.RecommendLogs.List.Count > 0)
                            {
                                var shopkeeper = Model.RecommendLogs.List.Where(x => x.value == Ecard.Models.AccountGrade.GoldMedalManager.ToString()).ToList();
                                foreach (var item in shopkeeper)
                                {
                                    <li>@item.Name</li>
                                }
                            }
                        </ul>
                        <ul>
                            @if (Model.RecommendLogs != null && Model.RecommendLogs.List.Count > 0)
                            {
                                var pt = Model.RecommendLogs.List.Where(x => x.value == Ecard.Models.AccountGrade.not.ToString()).ToList();
                                foreach (var item in pt)
                                {
                                    <li>@item.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>


           

        </ul>
        <ul>
            @if (Model.PointLogs != null && Model.PointLogs.List.Count > 0)
            {
                foreach (var item in Model.PointLogs.List)
                {
                    <div class="jifen_lists bgFFF am-container">
                        <span>+@item.value</span>
                        <h2>@item.type</h2>
                        <h4>@item.Name</h4>
                        <p>@item.submitTime</p>
                    </div>

                    @*<div class="jifen_lists bgFFF am-container">
                    <span>+@item.value</span>
                    <h2>@item.Name</h2>
                    <p>@item.submitTime</p>
                </div>*@
                    @*<div class="am-text-center am-padding-vertical-lg"><a class="am-btn am-btn-default am-btn-raduis">加载更多</a></div>*@
                }
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    jQuery(".jifenMax2").slide({});
    jQuery(".dianzhang_tab").slide({});
</script>