@using System.Collections

@model Object
@foreach (var prop in ViewModelDescriptor.GetTypeDescriptor(ViewData.Model).Properties.Where(x => x.Show).OrderBy(x => x.Order))
{
    if (prop.Hidden)
    {
        @Html.Editor(prop.PropertyName, prop.TemplateHint)
    }
    else
    {
    <li class="Requestlist" >
        @Html.LabelLocalize(prop)
        @Html.ValidationMessage(prop.PropertyName)
            @if (prop.IsReadOnly)
            {       
                @Html.Display(prop.PropertyName, prop.TemplateHint)
            }
            else
            {
                if (typeof(IList).IsAssignableFrom(prop.PropertyType))
                {
                    @Html.Editor(prop.PropertyName, prop.TemplateHint)
                }
                else
                { 
                    @Html.Editor(prop.PropertyName, prop.TemplateHint)
                }
            }
    </li>
    }

}
