@model PhoneNumbers
           <span> @Html.EditorFor(x=>x.Value1) @Html.ValidationMessageFor(x => x.Value1) </span> 
@*<span>@Model.Label1 @Html.EditorFor(x=>x.Value1) @Html.ValidationMessageFor(x => x.Value1) </span> <span>@Model.Label2 @Html.EditorFor(x => x.Value2) @Html.ValidationMessageFor(x => x.Value2) </span>*@