@using Moonlit
@model  ListAdminUsers 
              <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">@Model.Localize("title")</a></li>
    </ul>
</div>
   <div class="rightinfo">
         
     <table id="selectTd">
              <tr> 
           @Html.EditorForModel("condition") 
             <td>
       <input name="" type="button" onclick="submitClicks(this);" class="scbtn" style="height: 29px;" value="查询" />
   </td>
 </tr>
    </table>
        
    @Html.ToolbarOfList(Model.GetToolbarActions())
    <div style="clear: both;">
    </div>
    <div class="listbox">
        <table class="tablelist">
            <thead>
             <th><input id="ckAll" type="checkbox" onclick="selectAll()" /></th> 
                @Html.Ths(Model.List, Model.GetItemType())  
                @Html.Th(Ths.Operation, new { width = "134px" })
            </thead>
            <tbody id="tbodysNum">
                @using (var scope = new IteratorScope())
                {

                    foreach (var item in Model.List)
                    {
                        
                    <tr >
                    <td><input name="selectBox" type="checkbox" value=@item.UserId  /></td>
                        @Html.Tds(item, Model.GetItemType())
                        <div>@Html.ToolbarOfItem(Model.GetItemToobalActions(item))</div>
                    </tr>
                        scope.Next();
                    }
                }
            </tbody>
        </table>
        <div id="pagehtml">
           @(ViewBag.pageHtml == null ? "" : ViewBag.pageHtml)</div>
    </div>
</div>

 
<script type="text/javascript"> 
    var pageS = 10;
    var index = 0;
    var ActionName = "";
    var ActionUrl = "";
    var jsonData = "";
    function selectInput(choose) {
        pageS = choose.value;
        submitClicks(choose);
    }
     
    function AjaxGetData(PageIndex, PageSize) {
        var NameWith = $('#Name').val();
        var DisplayNameWith = $('#DisplayName').val();
        var EmailWith = $('#Email').val();
        var State = "";
        var state = $("[id=State.Key]").val();
        if (state.length < 4) {
            State = state;
        }
        $.ajax({
            url: "/AdminUser/List",
            data: { PageIndex: PageIndex, PageSize: PageSize, NameWith: NameWith, DisplayNameWith: DisplayNameWith, EmailWith: EmailWith, State: State },
            type: "post",
            //cache: false, 
            dataType: "json",
            async: false,
            success: function (data) {

                var listVal = new Array();
                listVal.push("UserId");
                listVal.push("Name");
                listVal.push("DisplayName");
                listVal.push("BirthDate");
                listVal.push("Email");
                listVal.push("IsSaleStr");
                listVal.push("LastSignInTime");
                listVal.push("State");
                listVal.push("boor");
                $.GetstrTrs(data, listVal, "UserId");
            },
            error: function () {
                window.location.href = "/Home/UserError";
            }
        })
    }
    //操作
    function OperatorThis(RName, RUrl) {
        ActionName = RName;
        ActionUrl = RUrl;
        switch (RName) {
            case "Edit":
                window.location.href = RUrl;
                break;
            case "Suspend":
                $(".tip p").text("你确定要停用当前角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "Suspends":
                jsonData = getChecks();
                $(".tip p").text("你确定要停用所选中角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "Resume":
                $(".tip p").text("你确定要启用当前角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "Resumes":
                jsonData = getChecks();
                $(".tip p").text("你确定要启用所选中角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "Delete":
                $(".tip p").text("你确定要删除当前角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "Deletes":
                jsonData = getChecks();
                $(".tip p").text("你确定要删除所选中角色吗？");
                $(".ShowHide").fadeIn(100);
                $(".tip").fadeIn(200);
                break;
            case "CreateDog":
                window.location.href = RUrl;
                break; 
            default:
                window.location.href = RUrl;
                break;
        }
    }
   

</script>