@model ApplyToModel 
           
<div class="line">
<label for='@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("EnabledRecharging")'   class="checkbox">充值</label>
@Html.CheckBoxFor(x => x.EnabledRecharging, new { disabled =true}) 
<label for='@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("EnabledOpenAccount")'  class="checkbox">售卡</label>
@Html.CheckBoxFor(x => x.EnabledOpenAccount, new { disabled = true }) 
<label for='@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("EnabledShopDealAccount")'  class="checkbox">清算</label>
@Html.CheckBoxFor(x => x.EnabledShopDealAccount, new { disabled = true }) 
<label for='@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("EnabledShop")' class="checkbox">商户</label>
@Html.CheckBoxFor(x => x.EnabledShop, new { disabled = true }) 
</div>