<!--------中间更换内容------->
@using Moonlit
@model  Ecard.Mvc.Models.CommodityCategory.ListCommodityCategorys
@{

    var roles = Model.User.Roles.ToList();
}
<link href="/css/shop_style.css" rel="stylesheet" />
@*<script src="/js/AdsList.js"></script>*@
<script src="/js/CommodityCategory.js"></script>
<style>

</style>

<div class="mainbar_wrapper">


    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">分类管理</a></li>
            <li><a href="#">>&nbsp; 分类列表</a></li>

        </ul>
    </div>

    <div class="tool_view" style=" height:auto;">
        @*<table id="selectTd">
            <tr>
                @Html.EditorForModel("condition")
                <td>
                    <input name="" type="button" onclick="submitClicks(this);" class="scbtn" style="height: 29px;" value="查询" />
                </td>
            </tr>
        </table>*@

        <div class="clear"></div>


    </div>
</div>


<div class="clear"></div>
<div class="gost_list">

    @*<div class="addaa">
        <a href="/CommodityCategory/Create" class="addbtn btn-primary add-goods">+添加分类</a>
    </div>*@
</div>

<div class="gost_list">
    <div class="gosttitle1">
        <h2>级别列表</h2>
        @*<p>
                <a href="javascript:void(0)" onclick="OperatorThis('Soldout', '/Ads/Soldout')">[批量下架]</a>
                <a href="javascript:void(0)" onclick="OperatorThis('Putaway', '/Ads/Putaway')">[批量上架]</a>
            </p>*@
    </div>

    <div class="gostxinxi">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="bigChange(this)" name=" goodslist_checkbox_all" id="goodslist_checkbox_all"></th>
                    @Html.Ths(Model.List, Model.GetItemType())
                    <th>操作</th>
                </tr>
            </thead>

            <tbody id="tbodysNum">
                @using (var scope = new IteratorScope())
                {

                    foreach (var item in Model.List)
                    {

                        <tr>
                            <td><input type="checkbox" onclick="smallChange(this)" name="commodityCategoryId" value="@item.commodityCategoryId"></td>
                            @Html.Tds(item, Model.GetItemType())
                            @Html.ToolbarOfItem(Model.GetItemToobalActions(item))
                        </tr>
                        scope.Next();
                    }
                }
            </tbody>
        </table>
        <div class="list_bottom">
            <div id="pagehtml">
                @Html.Raw(Model.pageHtml)
            </div>
            <div class="piliang">
                <p><a href="javascript:void(0)" onclick="OperatorThis('Deletes', '/CommodityCategory/Deletes')">[批量删除]</a>提示：勾选可以进行批量删除。</p>
            </div>
        </div>
    </div>
</div>
<!--------中间更换内容------->

